.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    font-family: 'Press Start 2P', cursive;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}

.panel {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-row {
    display: flex;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #1aeaa5;
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2),
.menu-lives h2:nth-child(2) {
    margin-top: 1rem;
    color: #1fe21f;
    text-align: center;
}

.players {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

.player-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #000000b3;
    border-radius: 5px;
    opacity: 0.4;
    transition: all 0.3s;
}

.player-card.active {
    opacity: 1;
    transform: scale(1.1);
    border: 2px solid #2ecc71;
    box-shadow: 0 0 10px #2ecc71;
}